apiVersion: config.openshift.io/v1
kind: ClusterOperator
metadata:
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  creationTimestamp: "2023-03-09T14:14:35Z"
  generation: 1
  managedFields:
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:exclude.release.openshift.io/internal-openshift-hosted: {}
          f:include.release.openshift.io/self-managed-high-availability: {}
          f:include.release.openshift.io/single-node-developer: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"b7590f0c-c37f-44e0-80d3-7b5df1e0e187"}: {}
      f:spec: {}
    manager: cluster-version-operator
    operation: Update
    time: "2023-03-09T14:14:35Z"
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status: {}
    manager: cluster-version-operator
    operation: Update
    subresource: status
    time: "2023-03-09T14:14:35Z"
  - apiVersion: config.openshift.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions: {}
        f:extension:
          .: {}
          f:master: {}
          f:worker: {}
        f:relatedObjects: {}
        f:versions: {}
    manager: machine-config-operator
    operation: Update
    subresource: status
    time: "2023-03-09T14:32:08Z"
  name: machine-config
  ownerReferences:
  - apiVersion: config.openshift.io/v1
    controller: true
    kind: ClusterVersion
    name: version
    uid: b7590f0c-c37f-44e0-80d3-7b5df1e0e187
  resourceVersion: "14442"
  uid: a2677b7f-e3c9-4360-88a8-42c47852f1d4
spec: {}
status:
  conditions:
  - lastTransitionTime: "2023-03-09T14:23:13Z"
    message: Cluster version is 4.13.0-0.ci.test-2023-03-09-115511-ci-ln-88xnydk-latest
    status: "False"
    type: Progressing
  - lastTransitionTime: "2023-03-09T14:30:05Z"
    reason: AsExpected
    status: "True"
    type: Upgradeable
  - lastTransitionTime: "2023-03-09T14:29:29Z"
    status: "False"
    type: Degraded
  - lastTransitionTime: "2023-03-09T14:29:35Z"
    message: Cluster has deployed [{operator 4.13.0-0.ci.test-2023-03-09-115511-ci-ln-88xnydk-latest}]
    reason: AsExpected
    status: "True"
    type: Available
  extension:
    master: all 1 nodes are at latest configuration rendered-master-488a5071a7880577f352cdd858a32b9d
    worker: all 0 nodes are at latest configuration rendered-worker-2e463c75460f403575457174050c6a47
  relatedObjects:
  - group: ""
    name: openshift-machine-config-operator
    resource: namespaces
  - group: machineconfiguration.openshift.io
    name: ""
    resource: machineconfigpools
  - group: machineconfiguration.openshift.io
    name: ""
    resource: controllerconfigs
  - group: machineconfiguration.openshift.io
    name: ""
    resource: kubeletconfigs
  - group: machineconfiguration.openshift.io
    name: ""
    resource: containerruntimeconfigs
  - group: machineconfiguration.openshift.io
    name: ""
    resource: machineconfigs
  - group: ""
    name: ""
    resource: nodes
  - group: ""
    name: openshift-kni-infra
    resource: namespaces
  - group: ""
    name: openshift-openstack-infra
    resource: namespaces
  - group: ""
    name: openshift-ovirt-infra
    resource: namespaces
  - group: ""
    name: openshift-vsphere-infra
    resource: namespaces
  - group: ""
    name: openshift-nutanix-infra
    resource: namespaces
  versions:
  - name: operator
    version: 4.13.0-0.ci.test-2023-03-09-115511-ci-ln-88xnydk-latest
