apiVersion: v1
kind: Pod
metadata:
  annotations:
    k8s.ovn.org/pod-networks: '{"default":{"ip_addresses":["10.128.0.9/23"],"mac_address":"0a:58:0a:80:00:09","gateway_ips":["10.128.0.1"],"ip_address":"10.128.0.9/23","gateway_ip":"10.128.0.1"}}'
    k8s.v1.cni.cncf.io/network-status: |-
      [{
          "name": "ovn-kubernetes",
          "interface": "eth0",
          "ips": [
              "10.128.0.9"
          ],
          "mac": "0a:58:0a:80:00:09",
          "default": true,
          "dns": {}
      }]
    openshift.io/scc: restricted-v2
    seccomp.security.alpha.kubernetes.io/pod: runtime/default
  creationTimestamp: "2023-03-09T14:20:00Z"
  generateName: ingress-operator-55684fdfd8-
  labels:
    name: ingress-operator
    pod-template-hash: 55684fdfd8
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:target.workload.openshift.io/management: {}
        f:generateName: {}
        f:labels:
          .: {}
          f:name: {}
          f:pod-template-hash: {}
        f:ownerReferences:
          .: {}
          k:{"uid":"506330a6-6445-4b53-bc78-33b1bd4aaf6b"}: {}
      f:spec:
        f:containers:
          k:{"name":"ingress-operator"}:
            .: {}
            f:command: {}
            f:env:
              .: {}
              k:{"name":"CANARY_IMAGE"}:
                .: {}
                f:name: {}
                f:value: {}
              k:{"name":"IMAGE"}:
                .: {}
                f:name: {}
                f:value: {}
              k:{"name":"RELEASE_VERSION"}:
                .: {}
                f:name: {}
                f:value: {}
              k:{"name":"WATCH_NAMESPACE"}:
                .: {}
                f:name: {}
                f:valueFrom:
                  .: {}
                  f:fieldRef: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:securityContext:
              .: {}
              f:allowPrivilegeEscalation: {}
              f:capabilities:
                .: {}
                f:drop: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/etc/pki/ca-trust/extracted/pem"}:
                .: {}
                f:mountPath: {}
                f:name: {}
                f:readOnly: {}
              k:{"mountPath":"/var/run/secrets/openshift/serviceaccount"}:
                .: {}
                f:mountPath: {}
                f:name: {}
                f:readOnly: {}
          k:{"name":"kube-rbac-proxy"}:
            .: {}
            f:args: {}
            f:image: {}
            f:imagePullPolicy: {}
            f:name: {}
            f:ports:
              .: {}
              k:{"containerPort":9393,"protocol":"TCP"}:
                .: {}
                f:containerPort: {}
                f:name: {}
                f:protocol: {}
            f:resources:
              .: {}
              f:requests:
                .: {}
                f:cpu: {}
                f:memory: {}
            f:securityContext:
              .: {}
              f:allowPrivilegeEscalation: {}
              f:capabilities:
                .: {}
                f:drop: {}
            f:terminationMessagePath: {}
            f:terminationMessagePolicy: {}
            f:volumeMounts:
              .: {}
              k:{"mountPath":"/etc/tls/private"}:
                .: {}
                f:mountPath: {}
                f:name: {}
                f:readOnly: {}
        f:dnsPolicy: {}
        f:enableServiceLinks: {}
        f:nodeSelector: {}
        f:priorityClassName: {}
        f:restartPolicy: {}
        f:schedulerName: {}
        f:securityContext:
          .: {}
          f:runAsNonRoot: {}
          f:seccompProfile:
            .: {}
            f:type: {}
        f:serviceAccount: {}
        f:serviceAccountName: {}
        f:terminationGracePeriodSeconds: {}
        f:tolerations: {}
        f:volumes:
          .: {}
          k:{"name":"bound-sa-token"}:
            .: {}
            f:name: {}
            f:projected:
              .: {}
              f:defaultMode: {}
              f:sources: {}
          k:{"name":"metrics-tls"}:
            .: {}
            f:name: {}
            f:secret:
              .: {}
              f:defaultMode: {}
              f:secretName: {}
          k:{"name":"trusted-ca"}:
            .: {}
            f:configMap:
              .: {}
              f:defaultMode: {}
              f:items: {}
              f:name: {}
            f:name: {}
    manager: kube-controller-manager
    operation: Update
    time: "2023-03-09T14:20:00Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          .: {}
          k:{"type":"PodScheduled"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:message: {}
            f:reason: {}
            f:status: {}
            f:type: {}
    manager: kube-scheduler
    operation: Update
    subresource: status
    time: "2023-03-09T14:20:00Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:k8s.ovn.org/pod-networks: {}
    manager: vrutkovs-sno
    operation: Update
    time: "2023-03-09T14:21:51Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:k8s.v1.cni.cncf.io/network-status: {}
    manager: multus
    operation: Update
    subresource: status
    time: "2023-03-09T14:22:07Z"
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:status:
        f:conditions:
          k:{"type":"ContainersReady"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Initialized"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
          k:{"type":"Ready"}:
            .: {}
            f:lastProbeTime: {}
            f:lastTransitionTime: {}
            f:status: {}
            f:type: {}
        f:containerStatuses: {}
        f:hostIP: {}
        f:phase: {}
        f:podIP: {}
        f:podIPs:
          .: {}
          k:{"ip":"10.128.0.9"}:
            .: {}
            f:ip: {}
        f:startTime: {}
    manager: kubelet
    operation: Update
    subresource: status
    time: "2023-03-09T14:32:09Z"
  name: ingress-operator-55684fdfd8-f9svb
  namespace: openshift-ingress-operator
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: ingress-operator-55684fdfd8
    uid: 506330a6-6445-4b53-bc78-33b1bd4aaf6b
  resourceVersion: "14538"
  uid: 8586aeeb-8734-4698-adcd-01ee23ee37ca
spec:
  containers:
  - command:
    - ingress-operator
    - start
    - --namespace
    - $(WATCH_NAMESPACE)
    - --image
    - $(IMAGE)
    - --canary-image
    - $(CANARY_IMAGE)
    - --release-version
    - $(RELEASE_VERSION)
    env:
    - name: RELEASE_VERSION
      value: 4.13.0-0.ci.test-2023-03-09-115511-ci-ln-88xnydk-latest
    - name: WATCH_NAMESPACE
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: metadata.namespace
    - name: IMAGE
      value: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:af5fed62790f3da5a9b7d32374331539ab531f17d006a69ea501622d946a07fe
    - name: CANARY_IMAGE
      value: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:c85de6de3820e7ef13625ef4ceda1ec350d93fc924138ff8ef7717948f908d73
    image: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:c85de6de3820e7ef13625ef4ceda1ec350d93fc924138ff8ef7717948f908d73
    imagePullPolicy: IfNotPresent
    name: ingress-operator
    resources:
      requests:
        cpu: 10m
        memory: 56Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      runAsUser: 1000140000
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: FallbackToLogsOnError
    volumeMounts:
    - mountPath: /etc/pki/ca-trust/extracted/pem
      name: trusted-ca
      readOnly: true
    - mountPath: /var/run/secrets/openshift/serviceaccount
      name: bound-sa-token
      readOnly: true
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-vgsrw
      readOnly: true
  - args:
    - --logtostderr
    - --secure-listen-address=:9393
    - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
    - --upstream=http://127.0.0.1:60000/
    - --tls-cert-file=/etc/tls/private/tls.crt
    - --tls-private-key-file=/etc/tls/private/tls.key
    image: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:199a16f6e9bdfc720f6efa5cb21b207d79ef1fcda9c58e5dbef1f2d2fc09d747
    imagePullPolicy: IfNotPresent
    name: kube-rbac-proxy
    ports:
    - containerPort: 9393
      name: metrics
      protocol: TCP
    resources:
      requests:
        cpu: 10m
        memory: 40Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      runAsUser: 1000140000
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /etc/tls/private
      name: metrics-tls
      readOnly: true
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-vgsrw
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: vrutkovs-sno
  nodeSelector:
    kubernetes.io/os: linux
    node-role.kubernetes.io/master: ""
  preemptionPolicy: PreemptLowerPriority
  priority: 2000000000
  priorityClassName: system-cluster-critical
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext:
    fsGroup: 1000140000
    runAsNonRoot: true
    seLinuxOptions:
      level: s0:c12,c4
    seccompProfile:
      type: RuntimeDefault
  serviceAccount: ingress-operator
  serviceAccountName: ingress-operator
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 120
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 120
  - effect: NoSchedule
    key: node.kubernetes.io/memory-pressure
    operator: Exists
  volumes:
  - name: metrics-tls
    secret:
      defaultMode: 420
      secretName: metrics-tls
  - configMap:
      defaultMode: 420
      items:
      - key: ca-bundle.crt
        path: tls-ca-bundle.pem
      name: trusted-ca
    name: trusted-ca
  - name: bound-sa-token
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          audience: openshift
          expirationSeconds: 3600
          path: token
  - name: kube-api-access-vgsrw
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
      - configMap:
          items:
          - key: service-ca.crt
            path: service-ca.crt
          name: openshift-service-ca.crt
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2023-03-09T14:21:51Z"
    status: "True"
    type: Initialized
  - lastProbeTime: null
    lastTransitionTime: "2023-03-09T14:30:03Z"
    status: "True"
    type: Ready
  - lastProbeTime: null
    lastTransitionTime: "2023-03-09T14:30:03Z"
    status: "True"
    type: ContainersReady
  - lastProbeTime: null
    lastTransitionTime: "2023-03-09T14:21:51Z"
    status: "True"
    type: PodScheduled
  containerStatuses:
  - containerID: cri-o://9c87edd7ee8d349f09975c5ee3d4531170f5d5511fa53536f14fadbbaddf68a7
    image: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:c85de6de3820e7ef13625ef4ceda1ec350d93fc924138ff8ef7717948f908d73
    imageID: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:c85de6de3820e7ef13625ef4ceda1ec350d93fc924138ff8ef7717948f908d73
    lastState:
      terminated:
        containerID: cri-o://f067b6a0f93d03dfb0524d932204195e3678bdeded181e8796fc1540ca334746
        exitCode: 1
        finishedAt: "2023-03-09T14:30:02Z"
        message: "O\toperator.init\tmanager/runnable_group.go:219\tAll workers finished\t{\"controller\":
          \"configurable_route_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"ingressclass_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"certificate_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"error_page_configmap_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"status_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"ingress_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"dns_controller\"}\n2023-03-09T14:30:02.236Z\tERROR\toperator.init\tcontroller/controller.go:274\tReconciler
          error\t{\"controller\": \"route_metrics_controller\", \"object\": {\"name\":\"default\",\"namespace\":\"openshift-ingress-operator\"},
          \"namespace\": \"openshift-ingress-operator\", \"name\": \"default\", \"reconcileID\":
          \"2b97aeb9-f13a-4ffc-a867-cfea379dd2a6\", \"error\": \"failed to get Ingress
          Controller \\\"openshift-ingress-operator/default\\\": Timeout: failed waiting
          for *v1.IngressController Informer to sync\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\tmanager/runnable_group.go:219\tAll
          workers finished\t{\"controller\": \"route_metrics_controller\"}\n2023-03-09T14:30:02.236Z\tINFO\toperator.init\truntime/asm_amd64.s:1594\tStopping
          and waiting for caches\n2023-03-09T14:30:02.237Z\tINFO\toperator.init\truntime/asm_amd64.s:1594\tStopping
          and waiting for webhooks\n2023-03-09T14:30:02.238Z\tINFO\toperator.init\truntime/asm_amd64.s:1594\tWait
          completed, proceeding to shutdown the manager\n2023-03-09T14:30:02.242Z\tERROR\toperator.main\tcobra/command.go:920\terror
          starting\t{\"error\": \"failed to wait for canary_controller caches to sync:
          timed out waiting for cache to be synced\"}\n"
        reason: Error
        startedAt: "2023-03-09T14:27:39Z"
    name: ingress-operator
    ready: true
    restartCount: 4
    started: true
    state:
      running:
        startedAt: "2023-03-09T14:30:03Z"
  - containerID: cri-o://4faebc498b4b95548187501ddee80a8b5a5f2ae0060c901ff119d20c6919cec6
    image: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:199a16f6e9bdfc720f6efa5cb21b207d79ef1fcda9c58e5dbef1f2d2fc09d747
    imageID: registry.build05.ci.openshift.org/ci-ln-88xnydk/stable@sha256:199a16f6e9bdfc720f6efa5cb21b207d79ef1fcda9c58e5dbef1f2d2fc09d747
    lastState: {}
    name: kube-rbac-proxy
    ready: true
    restartCount: 0
    started: true
    state:
      running:
        startedAt: "2023-03-09T14:22:12Z"
  hostIP: 10.0.130.93
  phase: Running
  podIP: 10.128.0.9
  podIPs:
  - ip: 10.128.0.9
  qosClass: Burstable
  startTime: "2023-03-09T14:21:51Z"
